/*/////////////////////////////////////////////////
//LINE風チャット画面(会話方式)を記事に表示する方法
/////////////////////////////////////////////////*/

.line__container {
  padding:0px 0px 26px 0px;
  background: #7494c0;
  overflow: hidden;
  max-width: 450px;
  margin: 0px auto;
  font-size: 100%;
  position: relative;
}
.counter {
	display: none;
}
.time_changer {
  margin: 0px auto;
  display: none;
  width: 60px;
  position: relative;
  top: 5px;
  left: 190px;
}
.line__container span{
  font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}

/* 送信部分 */
.line__container .line__send {
  padding: 5px;
  height: 34px;
  color: #555;
  background: #eee;
  position: relative;
  top: 26px;
}

.line__send .line_send_left {
  text-align: Left;
  font-size: 200%;
  font-weight: lighter;
  position: absolute;
  left: 4px;
  top: -1px;
}
.line__send .line_send_right {
  text-align: right;
  font-size: 180%;
  font-weight: lighter;
  position: absolute;
  top: 1px;
  right: 6px;
}
.line__container .line__send img {
  height: 30px;
  position: relative;
  top: 5px;
  left: -5px;
}
.line__container .line__send input {
  height: 30px;
  width: 295px;
  position: relative;
  top: 3px;
  left: 110px;
  font-size: 110%;
  //font-weight:650;
}
.line__container .line__send a {
  text-decoration: none;
}
.line__container .line__send a:visited {
  color: #555;
}

/* タイトル部分 */
.line__container .line__title {
  padding: 10px;
  background: #273246;
  text-align: center;
  font-size: 120%;
  color: #ffffff;
  //position: relative;
  width: 430px;
  position: fixed;
  top: 0px;
  z-index: 2;
}
.line__container .line__title img {
  height: 30px;
}

.line__title .line_title_left {
  padding: 10px;
  position: absolute;
  font-size: 150%;
  top: -5px;
  left: 0px;
}
.line__title .line_title_right {
  padding: 10px;
  font-size: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* 会話部分 */
.line__container .line__contents {
  padding: 10px;
  overflow: hidden;
  line-height: 135%;
  position: relative;
  top: 25px;
}

.line__container .line__today {
  padding: 19px 0px 10px 0px;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
  clear: both;
}

.line__container .line__today span{
  padding: 7px 22px 7px;
  background: #7186a3;
  border-radius: 20px;
  font-size: 80%;
  color: #ffffff;
  font-weight:650;
}

.line__container .scroll {
  height: 90vh;
  overflow-y: scroll;
}

/* スタンプ画像最大幅 */
.line__container .stamp img {
  border-radius: 10px;
  max-width:240px;
  max-height:400px;
}

/* 会話テキストサイズ */
.line__container .text {
  font-size: 105%;
  font-weight:350;
  //font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
  font-family: "Meiryo","sans-serif";
}

/* 相手の会話 */
.line__container .line__left {
    //width: 100%;
    position: relative;
    display: block;
    float: left;
    margin-bottom: 5px;
    max-width: 80%;
    clear: both;
}

/* アイコン画像 */
.line__container .line__left figure {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 0;
    margin: 0;

}

/* 正方形を用意 */
.line__container .line__left figure img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.line__container .line__left .line__left-text {
  margin-left: 70px;
}

.line__container .line__left .line__left-text .name {
  font-size: 80%;
  color: #ffffff;
}

/* コメントエリア */
.line__container .line__left .text {
  margin: 0;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}

/* 吹き出し */
.line__container .line__left .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 10px;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* 既読エリア */
.line__container .line__left .date {
  position: absolute;
  //width: 100px;
  text-align: left;
  right: -35px;
  bottom: 0px;
  font-size: 75%;
  color: #ffffff;
}

/* 自分の会話 */
.line__container .line__right {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* コメントエリア */
.line__container .line__right .text {
  padding: 8px 10px;
  border-radius: 20px;
  background-color: #8de055;
  margin: 0;
  margin-left: 80px;
}

/* 電話 */
.line__container .line__right .tell {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #8de055;
  margin: 0;
  margin-left: 80px;
  font-size: 80%;
  text-align:center;
}

/* 吹き出し */
.line__container .line__right .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 10px;
  border-left: 20px solid #8de055;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 自分がスタンプを送る時 */
.line__container .line__right .stamp {
  position: relative;
  margin-left: 80px;
}

/* 既読エリア */
.line__container .line__right .date {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  text-align: right;
  left: -30px;
  bottom: 0px;
  font-size: 75%;
  color: #ffffff;
}
.line__container .line__right .date p {
	position: relative;
	top:7px;
	line-height:0px;
}

input[type="file"] {
    display: none;
}
